@import "unit/unit";

body{
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-family: "Lustria",  "Times New Roman", serif;
  overflow-x: hidden !important;
  text-align: center !important;
}

.my-navbar {
  background-image: url("../img and audio/back.webp");
  background-size: cover;
  height: 100vh;

  .overly-for-nav {
    background-color: var(--overly-for-nav);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
  }

  .my-top-right-nav {
    z-index: 99;

    a {
      svg {
        color: white;
        padding: 10px;
        transition: 0.4s;
        border-radius: 30px;
        cursor: pointer;

        &:hover {
          background-color: var(--background-color);
          color: black;
        }
      }
    }
  }
  .my-menu-icon {
    color: white;
    padding: 10px;
    transition: 0.4s;
    border-radius: 30px;
    cursor: pointer;

    &:hover {
      background-color: var(--background-color);
      color: black;
    }
  }
  .my-left-top-nav {
    z-index: 99;
    }
  .my-bottom-nav {
    z-index: 99;

    .my-items-card {
      background-color: rgba(255, 255, 255, 0.15);
      color: white;
      z-index: 99;
      padding: 10px 15px;
      border-radius: 2px;
      .my-logo {
        width: 150px;
      }
    }
  }

  .tex-in-my-navbar {
    h1 {
      color: var(--background-color);
      z-index: 9999;
    }

    h6 {
      color: var(--background-color);
      z-index: 9999;
    }
  }
}
.swiper-slide{
  p{
    font-size: 15px;
  }
}

.my-footer{
  background-color: var(--back-color-foter);
  color: white;
  padding: 50px 15px;
  p{
    font-size: 13px;
    margin-top: 40px;
  }
  a{
    margin-top: 10px;
    font-size: 13px;
    text-decoration: none;
    color: white;
    :hover{
      color: white;
    }
  }
 .my-inp{
   width: 300px;
   padding: 5px!important;
   margin-top: 20px;
 }
  button{
    svg{
      color: white;
    }
  }
}
.items-in-footer{
  margin-top: 40px;
}
.box-menu{
  transition: 1s;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: var(--back-color-foter);
  z-index: 9990000;
}
.overly-for-box-menu{
  transition: 1s;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999;
}
.items-menu{
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  font-size: 14px;
  color: white;
  text-align: right;
  border-bottom: 1px solid #eeee;
  background-color: rgba(255, 255, 255, 0.15);
  text-decoration: none;
  &:last-child{
    border-bottom: none;
  }
  &:hover{
    text-decoration: none;
    color: white;
  }
}
.close-box{
  margin-top: 100px;
  text-align: left;
 .close-menu{
   color: white;
   padding: 10px;
   transition: 0.4s;
   border-radius: 30px;
   cursor: pointer;
  &:hover {
    background-color: var(--background-color);
    color: black;
  }
}
}

.show-box-menu{
  transition: 1s;
  visibility: visible;
  right: 0;
}





























